{% extends "base.html" %}
{% block content %}


<div class='col-sm-8 col-sm-offset-2'>
<br>
    <form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search quotes' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>

<hr>
{% for obj,is_liked,is_active in object_list %}

<div class="row">
  <div class="col-sm-12">
    {% if is_active %}
    <div class="thumbnail" >
    {%else%}
    <div class="thumbnail" style="border-style: solid;border-color: coral;">
    {% endif %}
      <div class="caption post-detail-item">
        <h4><a href='{% url 'quotes:list_user' obj.user.get_username%}'>{{ obj.user.get_full_name }}</h4>
        </a> <small>{{ obj.timestamp }}</small>
        
        <h2 style="word-wrap: break-word;">{{ obj.content|truncatechars:100|linebreaks }}
            {% ifnotequal obj.content obj.content|truncatechars:100 %}
            <small><a class="readmore" href="{{obj.get_absolute_url }}">read more...</a>
            {% endifnotequal %}</small></h2>
        <!--<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>-->
        <p><h4><a class='like-btn' data-href='{{ obj.get_api_likeunlike_url }}' data-id='{{obj.id}}'>{% if is_liked %}<i class="fa fa-thumbs-up" style="font-size:24px;color:#337ab7" aria-hidden="true">&nbsp</i>Like{% else %} <i class="fa fa-thumbs-o-up" style="font-size:24px" aria-hidden="true">&nbsp</i>Like{% endif %}</a>
        <a  data-id='{{obj.id}}' class='liked_count liked_count{{obj.id}}'>{{ obj.like_set.count }}</a></h4>
        </p>
        <hr>
            <p style="margin-left:auto; margin-right:auto">
               <form>
            
            </form>
          <form name='{{obj.id}}' style="display: inline-block; width:32%;">
          <button class="btn btn-info form-control">Edit Quote</button>
          </form>
          
              
          <form style="display: inline-block ;width:32%;" method='GET' action="{% url 'quotes:deactivate' obj.pk %}">
          {% if is_active %}
          <button type="submit" class="deactivate-btn btn btn-warning form-control" data-id='{{obj.id}}' >Hide Quote</button>
          {% else %}
              <button type='submit' class="deactivate-btn btn btn-warning form-control" data-id='{{obj.id}}' >Unhide Quote</button>
          {% endif %}
          </form>
          <form style="display: inline-block; width:32%;" method='GET' action="{% url 'quotes:delete' obj.pk %}">
          <button class="delete-btn btn btn-danger form-control" data-id='{{obj.id}}' >Delete Quote</button>
          <form>
              </p>
      
      </div>
    </div>
  </div>

</div>





{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}