{% load staticfiles %}

<html lang="en">
<head>
  {% block title %}
  <title>InstaQuotes</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  {% block head_scripts %}

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
{% endblock %}



</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">

  <div class="container">


    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">InstaQuotes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li><a href="{% url 'quotes:manage' %}">Manage</a></li>
          {% endif %}
         
          <li><a href="{% url 'quotes:mypost' %}">MyPosts</a></li>
           
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">{{ user.get_username }}</a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                  
              </ul>
          </li>
          
          {% else %}
              <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
              <li><a href="{% url 'signup' %}?next={{ request.path }}">Register</a></li>
          {% endif %}
      </ul>

    </div>

  </div>
  </div>

</nav>

<!-- First Container -->

<div class="container"></div>
{% block content %}
{% endblock %}
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        
      </div>
      
    </div>

  </div>
</div>
{% block javascripts %}
{% include 'base/js.html' %}
{% endblock %}


<!-- Footer -->
<!--<footer class="container-fluid1 bg-4 text-center">-->
<!--  <p>CodeAMojo @2017</p>-->
<!--</footer>-->


</body>
</html>

